@font-face {
    font-family: 'get_schwifty';
    src: url('../../assets/fonts/get_schwifty.ttf');
}

.container {
    background-color: rgb(39, 112, 19);
    position: relative;
    width: 210px;
    height: 370px;
    border-radius: 13px;
    /* margin: 3px; */
    margin-bottom: 50px;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgb(8, 175, 8);
    box-shadow: inset -3px -3px 5px rgb(89,232,33);
    opacity: 0.9; 
    /* transform: scale(1);  */
    transition: 500ms; 
}

.container:hover {
    opacity: 1.0;
    transform: scale(1.25);
    z-index: 200;
  }

.nombre {
    display: inline-block;
    top: 3px;
    color: rgb(226, 236, 229);
    background-position: center;
    font-family: 'get_schwifty';
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 2px rgb(182, 26, 14), 0 0 6px #0000ff; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65%;
  }

  .nombre:hover {
    color: rgb(216, 92, 21);
  }

.imageCard {
    position: relative;
    top: -8px;
    width: 195px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 50%;
}

.favBtn {
    position: absolute;
    font-size: large;
    top: 10px;
    left: 3px;
    border: 0;
    background: none;

}

.btnCierre {
    position: absolute;
    right: 10px;
    top: 13px;
    width: 20px;
    height: 20px;
    border: 0px;
    border-radius: 50%;
    background-image: url('https://www.svgrepo.com/show/273966/close.svg');
    background-size: cover;
    background-position: center;
    cursor: pointer;
      
}

.descripcion {
    color: rgb(237, 248, 248);
    margin: 10px;
    margin-top: -15px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 12px;
}

