.search {
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
}

.searchBar {
    height: 40px;
    font-size: 16px;
    margin: 4px;
    border-radius: 12px;
    border: 1px solid rgb(23, 65, 12);
    box-shadow: 1px 1px 1px black;
    width: 300px;
    background: rgb(231,249,204);
    z-index: 150;
}

.searchBtn {
    border: 0;
    z-index: 150;
    margin: 3px 10px 2px 2px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url('portal.png');
    background-size: 70px;
    background-position: center;
    cursor: pointer;
    box-shadow: 1px 1px 1px black;
    transform: scale(0.9);
    transition: 400ms;
}

.searchBtn:hover {
    opacity: 1.0;
    transform: scale(1.1);
  }