.navBar {
    width:auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: rgb(4,140,156,1);
    font-size: larger;
  }
  
  .navLinks {
    display: flex;
    padding-left: 0;
  }
  
  .navLinkBtn {
    width: 100px;
    height: 50px;
    background-color: rgb(98, 131, 134);
    border: 0;
    margin: 2px;
    color: #ffff;
    font-size:medium;
    text-align: center;
    cursor: pointer;
  }
  .navLinkBtn:hover {
    background-color: rgb(161, 97, 17);
  }



