.navBar {
    width:auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: rgb(4,140,156,1);
    font-size: larger;
  }
  
  .navLinks {
    padding-left: 6px;
    display: flex;
  }
  
  .navLink {
    width: 80px;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }



